.navbar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    align-items: center;
    padding-top: 10px;
    height: 50px;
    width: 100vw;
}

.navbar-social-container {
    display: flex;
    justify-content: flex-start;
}

.navbar-social-container-mobile {
    display: none;
}

.navbar-social-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
    margin-left: 20px;
}

.navbar-title-container {
    display: flex;
    justify-content: center;
}

.navbar-title {
    color: var(--navbar-title-color);
    font-size: 2.2em;
    font-weight: 750;
    cursor: pointer;
}

.navbar-login-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.navbar-login-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-login-text {
    color: var(--navbar-login-text-color);
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 750;
    padding-left: 5px;
}

.logout-snackbar {
    border-radius: 5px;
    margin-top: 100px;
}

@media (max-width: 767px) {
    .navbar-social-container {
        display: none;
    }

    .navbar-social-container-mobile {
        display: flex;
        padding-top: 5px;
        justify-content: flex-start;
    }

    .navbar-login-text {
        display: none;
    }

    .navbar-login-logo {
        color: var(--navbar-social-logo-color);
        cursor: pointer;
        margin-left: 20px;
        padding-top: 5px;
        cursor: pointer;
    }

    .navbar-title {
        font-size: 1.7em;
        padding-top: 5px;
    }

    .logout-snackbar {
        border-radius: 5px;
        margin-top: 60px;
    }
}