.navbar-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 5px;
    align-items: center;
    padding-top: 10px;
    height: 50px;
    width: 100vw;
}

.navbar-social-container {
    display: flex;
    justify-content: flex-start;
}

.navbar-theme-container {
    display: flex;
    justify-content: flex-end;
}

.navbar-social-container-mobile {
    display: none;
}

.navbar-social-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
    margin-left: 20px;
}

.navbar-theme-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
    margin-right: 20px;
}

.navbar-title-container {
    display: flex;
    justify-content: center;
}

.navbar-title {
    color: var(--navbar-title-color);
    font-size: 2.2em;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 767px) {
    .navbar-social-container {
        display: none;
    }

    .navbar-social-container-mobile {
        display: flex;
        padding-top: 5px;
        justify-content: flex-start;
    }

    .navbar-title {
        font-size: 1.7em;
        padding-top: 5px;
    }
}