.subnavbar-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
    height: 10px;
    width: 100vw;
}

.subnavbar-link {
    color: var(--subnavbar-link-color);
    font-size: 1.3em;
    font-weight: 400;
    cursor: pointer;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.subnavbar-link:hover {
    font-weight: 600;
}

.subnavbar-link-logo {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .subnavbar-container {
        display: none;
    }
}