.project-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: calc(768px - 20%);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.project-item-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    height: 300px;
}

.project-image-container {
    box-shadow: 1px 1px 10px #808080;
    position: relative;
    min-width: 525px;
    height: 100%;
    border-radius: 20px;
    background-color: darkgray;
}

.project-image-container-tablet {
    display: none;
    position: relative;
    min-width: 525px;
    height: 100%;
    border-radius: 20px;
    background-color: darkgray;
}

.project-info-container:nth-child(odd) {
    width: 62%;
    margin-left: 0%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.project-info-container:nth-child(even) {
    width: 62%;
    margin-left: 3%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
}

.project-item-title-text {
    font-size: 32px;
    font-weight: 700;
    color: var(--exp-skill-title-color);
    margin-bottom: 15px;
}

.project-item-description-text {
    /* border: 1px solid #808080; */
    height: 150px;
    font-size: 22px;
    font-weight: 300;
    color: var(--exp-skill-title-color);
}

.project-item-stack-container {
    display: flex;
    flex-wrap: wrap;
}

.project-item-stack {
    border: 1px solid var(--exp-skill-title-color);
    color: var(--exp-skill-title-color);
    border-radius: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.project-title-container {
    margin-bottom: 10px;
}

.project-title-text {
    font-size: 36px;
    font-weight: 700;
    color: var(--exp-title-color);
}

.project-item-link-container {
    display: flex;
    margin-top: 20px;
}

.project-item-link-stack {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.project-item-link-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
}

.project-item-link-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--contact-social-text-color);
}

.project-item-link-container-tablet {
    display: none;
}

@media (max-width: 767px) {
    .project-body-container {
        min-width: 0px;
        margin: 50px 50px;
    }
    
    .project-item-stack-container {
        margin-top: 5px;
    }

    .project-item-container {
        height: auto;
        margin-bottom: 10px;
    }
    
    .project-item-title-text {
        font-size: 28px;
    }

    .project-item-description-text {
        font-size: 20px;
        height: auto;
    }

    .project-info-container:nth-child(odd) {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
    }
    
    .project-info-container:nth-child(even) {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        display: flex;
        flex-direction: column;
    }

    .project-image-container {
        display: none;
    }

    .project-image-container-tablet {
        display: none;
    }

    .project-item-stack {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .project-item-container {
        position: relative;
    }

    .project-image-container {
        display: none;
    }

    .project-image-container-tablet {
        display: flex;
        border: 1px solid black;
        min-width: 450px;
        border-radius: 20px;
        background-color: darkgray;
        opacity: 10%;
        animation-name: image-opacity-back;
        animation-duration: 0.5s;
    }

    @keyframes image-opacity-back {
        from {
            opacity: 100%;
        }
    
        to {
            opacity: 10%;
        }
    }

    @keyframes image-opacity {
        from {
            opacity: 10%;
        }
    
        to {
            opacity: 100%;
        }
    }

    .project-image-container-tablet:hover {
        animation-name: image-opacity;
        animation-duration: 0.5s;
        opacity: 100%;
    }
    
    .project-item-title-text {
        font-size: 28px;
    }

    .project-item-description-text {
        font-size: 20px;
        height: 140px;
    }

    .project-info-container:nth-child(odd) {
        position: absolute;
        width: 450px;
        margin: 30px 40px;
        display: flex;
        flex-direction: column;
    }
    
    .project-info-container:nth-child(even) {
        position: absolute;
        width: 450px;
        margin: 30px 40px;
        display: flex;
        flex-direction: column;
    }

    .project-info-container:hover:nth-child(odd) {
        display: none;
    }
    
    .project-info-container:hover:nth-child(even) {
        display: none;
    }

    .project-item-link-stack {
        display: none;
    }

    .project-item-link-container-tablet {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
    }

    .project-item-link-logo {
        margin-bottom: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .project-item-title-text {
        font-size: 28px;
    }

    .project-item-description-text {
        font-size: 20px;
        height: 140px;
    }

    .project-item-stack {
        border: 1px solid var(--exp-skill-title-color);
        color: var(--exp-skill-title-color);
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 16px;
        margin-right: 10px;
    }

    .project-item-link-text {
        font-size: 18px;
    }

    .project-item-container {
        height: 260px;
    }
    
    .project-image-container {
        position: relative;
        min-width: 450px;
        height: 100%;
        border-radius: 20px;
        background-color: darkgray;
    }
}