.project-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: calc(768px - 20%);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.project-item-container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    height: 300px;
}

.project-image-container {
    border: 1px solid black;
    position: relative;
    min-width: 525px;
    height: 100%;
    border-radius: 20px;
    background-color: darkgray;
}

.project-info-container:nth-child(odd) {
    width: 62%;
    margin-left: 0%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.project-info-container:nth-child(even) {
    width: 62%;
    margin-left: 3%;
    margin-right: 0%;
    display: flex;
    flex-direction: column;
}

.project-item-title-text {
    font-size: 32px;
    font-weight: 700;
    color: var(--exp-skill-title-color);
    margin-bottom: 15px;
}

.project-item-description-text {
    /* border: 1px solid #808080; */
    height: 150px;
    font-size: 22px;
    font-weight: 300;
    color: var(--exp-skill-title-color);
}

.project-item-stack-container {
    display: flex;
    flex-wrap: wrap;
}

.project-item-stack {
    border: 1px solid var(--exp-skill-title-color);
    color: var(--exp-skill-title-color);
    border-radius: 10px;
    padding: 5px 15px;
    margin-right: 10px;
    margin-top: 10px;
}

.project-title-container {
    margin-bottom: 10px;
}

.project-title-text {
    font-size: 36px;
    font-weight: 700;
    color: var(--exp-title-color);
}

.project-item-link-container {
    display: flex;
    margin-top: 20px;
}

.project-item-link-stack {
    display: flex;
    align-items: center;
    margin-right: 30px;
    cursor: pointer;
}

.project-item-link-logo {
    color: var(--navbar-social-logo-color);
    cursor: pointer;
}

.project-item-link-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--contact-social-text-color);
}

@media (max-width: 992px) {
    .project-item-title-text {
        font-size: 28px;
    }

    .project-item-description-text {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .project-item-title-text {
        font-size: 28px;
    }

    .project-item-description-text {
        font-size: 20px;
        height: 140px;
    }

    .project-item-stack {
        border: 0px;
        font-size: 16px;
        padding: 0px;
        margin-right: 15px;
    }

    .project-item-link-text {
        font-size: 18px;
    }

    .project-item-container {
        height: 260px;
    }
    
    .project-image-container {
        position: relative;
        min-width: 450px;
        height: 100%;
        border-radius: 20px;
        background-color: darkgray;
    }
}